<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Tareas - Educación Especial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styless.css') }}">

    <script>
        function showSection(sectionId) {
            const sections = document.querySelectorAll('.section');
            sections.forEach(section => section.classList.add('hidden'));
            document.getElementById(sectionId).classList.remove('hidden');
        }

        function registerUser() {
            alert("Registro exitoso.");
            showSection('login-register');
        }

    </script>
</head>
<style>
    body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total de la ventana */
    margin: 0;
    background-image: url("{{ url_for('static', filename='images/fondo.png') }}");
    background-color:transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 120vh;
    font-family: Arial, sans-serif;
    padding: 0;
 }
</style>
<body>

<header>
 </header>

<!-- Login/Register Section -->
<section id="login-register" class="form-section section">
    <h2>Acceda para Ingresar o Registrarse</h2>
    <div class="form-group">
        <button onclick="window.location.href='/login'">Ingresar</button>
        <button onclick="window.location.href='/register'">Registrarse</button>
    </div>
</section>

<!-- Login Section -->
<section id="login" class="form-section section hidden">
    <h2>Ingresar</h2>
        <form action="/login" method="POST">
            <div class="input-email-form">
                <label for="email">Email</label>
                <input type="text" name="input_email" required>
            </div>
            <div class="input-password-form">
                <label for="contraseña">Contraseña</label>
                <input type="text" name="input_password" required>
            </div>
            <div>
                <button type="submit">Ingresar</button>
            </div>
        </form>
    <div class="action-buttons">
        <button onclick="showSection('forgot-user')">Olvidó Usuario</button>
        <button onclick="showSection('forgot-password')">Olvidó Contraseña</button>
    </div>
</section>

<!-- Register Section -->
<section id="register" class="form-section section hidden">
    <h2>Registro</h2>
        <form action="/register" method="POST">
            <div class="input-user-form">
                <label for="usuario">Usuario</label>
                <input type="text" name="input_user" required>
            </div>
            <div class="input-email-form">
                <label for="usuario">Email</label>
                <input type="text" name="input_email" required>
            </div>
            <div class="input-password-form">
                <label for="contraseña">Contraseña</label>
                <input type="text" name="input_password" required>
            </div>
            <div>
                <button type="submit">Ingresar</button>
            </div>
        </form>
 </section>
<footer>
    <p>&copy; 2024 Asiste Tarea Educación Especial</p>
</footer>

</body>
</html>