<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title> Bienvenidos al Portal de Tareas para estudiantes de Educación Especial</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styless.css') }}">
        <title>Asistente de la tarea</title>
    </head>
    <style>
    body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total de la ventana */
    margin: 0;
    background-image: url("{{ url_for('static', filename='images/fondo.png') }}");
    background-color:transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 120vh;
    font-family: Arial, sans-serif;
    padding: 0;
 }
</style>
    <body>
        <div class="container">
            <!-- Principa Section -->
            <section id="principal" class="form-section section">
                <h2>Bienvenidos al Portal de Tareas para estudiantes de Educación Especial</h2>
                <h3>¿Qué desea hacer hoy? </h3>
                    <!-- Form with a button that triggers the redirect -->
                <div class="form-group">
                    <button onclick=window.location="{{url_for('buscar')}}">Buscar Tarea</button>
                    <button onclick=window.location="{{url_for('agregar')}}">Agregrar Tarea</button>
                </div>
            </section>
            <footer>
                <p>&copy; 2024 Asiste Tarea Educación Especial</p>
            </footer>
        </div>

    </body>
</html>